.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#wrapper{
    margin: 0 auto;
    width: 1280px;
}
p{
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
h1{
  font-family: 'Source Code Pro', monospace;
  color: white;
  font-size: 5em;
  margin-left: 42%;
}
h2{
  font-family: 'Source Code Pro', monospace;
  color: white;
  font-size: 2em;
}
.h1{
  font-family: 'Source Code Pro', monospace;
  color: white;
  font-size: 3em;
  margin-left: 12%;
}
body{
  
    background: rgba(0, 0, 0, 1) url("../images/sort.jpg") no-repeat fixed center;
    background-size: cover;
}
/*button,contact*/
.h1c{
  margin-left: 400px;
}
.buttonc {
  margin-top: 1rem;
}
.buttonc a{
  color: #ffffff;
  text-decoration: none;
  font-family: 'Source Code Pro', monospace;
  margin-left: 2%;
  font-size: 1rem;
}
.buttonc a:hover{
  color:  #76d1ca;
}
/*flexbox for titles*/
#container{
  padding: 8rem 0px 0px 0px;
  width: 100%;
  height: 31rem;
  display: flex;
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: center; /* Safari 6.1+ */
  justify-content: center;
}
.item{
  margin-left: -50px;
  padding: 0px;
  width: 600px;
}
.tit1{
  color: #ffffff;
  font-size: 14em;
  height: 210px;

}
.tit2{
  font-size: 3em;
  padding-left: 52px;
  color: #76d1ca;
}
.tit3{
  font-size: 2em;
  padding-left: 52px;
  color: #ffffff;
  padding-left: 35%;
}
.tit1, .tit2, .tit3{
  font-family: 'Source Code Pro', monospace;
}
/*flexbox for footer*/
#container2{
  display: flex;
  justify-content: space-evenly;
}
.item2{
  margin: 10px;
  padding: 10px;
  width: 10px;
}

/*CSS for burgermenu!*/
input {
    display: none;
  }
  
  .open {
    background-color:  #76d1ca;
    width: 50px;
    height: 3px;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    top: 8px;
  }
  
  .open:before {
    content: "";
    background-color: #ffffff;
    width: 50px;
    height: 3px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: -8px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }
  
  .open:after {
    content: "";
    background-color: #ffffff;
    width: 50px;
    height: 3px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: 4px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }
  
  .menuOpen {
    width: 24px;
    height: 20px;
    display: block;
    padding: 15px;
    cursor: pointer;
    float: right;
  }
  
  .menuOpen:hover .open:before {
    top: -9px;
  }
  
  .menuOpen:hover .open:after {
    top: 5px;
  }
  
  .menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1;
  }
  
  .menu label {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-size: 100%;
    cursor: pointer;
  }
  
  .menu .menuContent {
    position: relative;
    top: 50%;
    font-size: 54px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: -170px;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }
  
  .menu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    transition: color 0.2s;
    font-family: Trebuchet MS;
    text-transform: uppercase;
    padding: 10px 0;
  }
  
  .menu ul li a:hover {
    color:   #76d1ca;
    cursor: pointer;
  }
  
  .menu ul li:hover {
    cursor: pointer;
  }
  
  .menuEffects {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
  }
  
  .menuEffects ul {
    transform: translateY(0%);
    transition: all 0.5s;
  }
  
  #menuToggle:checked ~ .menuEffects {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
  }
  
  #menuToggle:checked ~ .menuEffects ul {
    opacity: 1;
  }
  
  #menuToggle:checked ~ .menuOpen .open {
    background-color: transparent;
  }
  
  #menuToggle:checked ~ .menuOpen .open:before {
    content: "";
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
  }
  
  #menuToggle:checked ~ .menuOpen .open:after {
    content: "";
    background-color: white;
    transform: rotate(-45deg);
    position: relative;
    top: 0;
    right: 0;
    z-index: 5;
  }
  
  #menuToggle:not(:checked) ~ .menuEffects ul {
    transform: translateY(-30%);
  }
/*Work.html page*/

/*flexbox for links/pictures*/
#container3{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 6rem;
}
.item3{
  margin: 3px;
  padding: 3px;
  width: 400px;
  height: 400px;
  cursor: pointer;
}
.item3 img{
width: 400px;
height: 400px;
border-radius: 50%;
}
.item3 a img:hover{
  background-color: white;
  opacity: .3;
}

/*footer items*/
.container2 .fa-instagram:before a:hover {
  color: #ffffff;
}
/*to top button*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 1000px;
  z-index: 99;
  transform: translateX(+310%);
}
/*horizontal menu for mul b site*/
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header li {
  float: left;
  font-family: 'Source Code Pro', monospace;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover {
  border-bottom: solid 1px  #76d1ca;
}
/*ABOUT SITE*/
.imglot{
  border-radius: 50%;
}
#container_about{
  padding: 0px;
  width: 100%;
  height: 30rem;
  display: flex;
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: center; /* Safari 6.1+ */
  justify-content: center;
}
.pad10{
  padding-top: 10%;
}
.item5{
  margin-left: 50px;
  padding: 0px;
  width: 600px;
}
h3{
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}
.padb{
  margin-bottom: 2%;
}

.row > .column {
  padding: 0 8px;
}
div.row{
  margin-left: 150px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  max-width: 26.5%;
  cursor: pointer;
  background:rgba(0, 0, 0, .4);
  margin: .5em;
}
.row .column img{
  width: 300px;
  height: 300px;
  padding-top: 3%;
  border: solid 1px white;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 800px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #76d1ca;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding-bottom: 60%;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
  width: 100px;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: .3;
}


/*School work*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  grid-column-gap: 50px;
  margin-left: 20%;
  margin-bottom: 9%;
  margin-top: 6%;
}
.grid-item {
  padding: 50px;
  text-align: center;
  margin: 20px;
  font-family: 'Source Code Pro', monospace;
  color: white;
  font-size: 2em;
  background-color: black;
  border: solid 2px white;
}
a{
  text-decoration: none;
}
.grid-container a .grid-item:hover{
  background-color: #ffffff;
  color: black;
}

/*flows*/
.bgf{
  background-color: rgb(0, 0, 0, 0.8);
}

  .bgf a{
    background-color:  #76d1ca; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin: 15em 5px 10px 5px;
  }
  .learn a{
    background-color:  #76d1ca; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
  }
  .marg {
    margin-left: 5em;
  }
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 50px;
  }
  
  .flex-container > div {
    width: 600px;
    margin: 10px;
  }
  .marg22{
margin-left: 10px;
  }
  .marg12{
    margin-left: 60px;
  }
  iframe{
    border: 1px solid white;
  }

  
  /*CONTACT*/
  form .td{
    border: 1px solid white;
    background-color: white;
    width: 200px;
    color: grey;
    font-family: 'Lato', sans-serif;
  }
 form{
   margin-left: 400px;
 }
  input[type=text], #subject {
    width: 50%;
    padding: 12px;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  label{
    color: white;
    font-family: 'Lato', sans-serif;
  }
  
  .submit {
    background-color: rgb(76, 175, 170);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
  }
  
  .submit:hover {
    background-color: #ffffff;
    color: black;
  }
  
  .container12 {
    background-color:  rgb(0, 0, 0, 0.4);
    padding: 20px;
  }
  .imglot2 {
    display: none;
  }
  .mtext{
    display: none;
  }
  .item5 .imgu1 {
    width: 300px;
  }
  .item5 .imglot{
    width: 80%;
  }
  
  @media only screen and (max-width: 600px) {
    .menu {
      width: 100%;
      height: 100%;
  }
  .menu ul li a {
    padding: 10px 0;
    font-size: 2em;
}
.open:after, .open:before, .open{
  width: 100px;
  height: 7px;
}
.imglot2 {
  display: block;
  margin-left: 20px;
  width: 100%;
}
#container_about{
  display: none;
}
.mtext{
  display: block;
  font-size: 3em;
  padding-left: 20px;
}
.mtext img{
  width: 500px;
  margin-left: 400px;
}
.item{
  width: 100%;
  margin-left: 40px;
}
.tit1{
  font-size: 24em;
}
.tit2{
  margin-top: 4em;
  margin-left: 20%;
}
.buttonc a {
  font-size: 3em;
  position: absolute;
}
.fa-linkedin-square:before {
  font-size: 100px;
}
.fa-instagram:before{
  font-size: 100px;
}
.fa-facebook-square:before{
  font-size: 100px;
}
.item3{
  padding: 30px;
  width: 100%;
  height: 100%;
}
.item3 img {
  width: 100%;
  height: 100%;
}
#container3{
  display: block;
}
.tit3{
  font-size: 7em;
}
h1{
  font-size: 10em;
}
.nav3 ul li a{
  font-size: 2.4em;
}
.grid-container{
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}
.grid-item {
  width: 90%;
  height: 2em;
  font-size: 10em;
  padding-top: 120px;
}
.container{
  display: block !important;
}
.column{
  max-width: 100%;
}
.row .column img{
  width: 100%;
  height: 100%;
}

div.row{
  margin-left: 50px;
}
.row p{
  font-size: 3em;
}
img , iframe{
  width: 100%;
}
.bgf{
  display: block;
}
span img{
  display: none;
}
iframe{
  width: 1200px;
  height: 560px;
}
  }

  
  