.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#wrapper{
  
    margin: 0 auto;
    width: 1280px;
}
p{
  color: #ffffff;
}
h1{
  font-family: 'Source Code Pro', monospace;
  color: white;
  font-size: 5em;

}
body{
  
    background: rgba(0, 0, 0, 1) url("../images/bg.jpg") no-repeat fixed center;
    background-size: cover;
}
/*flexbox for titles*/
#container{
  padding: 8.5rem 0px 0px 0px;
  width: 100%;
  height: 30rem;
  display: flex;
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: center; /* Safari 6.1+ */
  justify-content: center;
}
.item{
  margin-left: -50px;
  padding: 0px;
  width: 600px;
}
.tit1{
  color: #ffffff;
  font-size: 14em;
  height: 210px;

}
.tit2{
  font-size: 3em;
  padding-left: 52px;
  color: #ecf00c;
}
.tit1, .tit2{
  font-family: 'Source Code Pro', monospace;
}
/*flexbox for footer*/
#container2{
  display: flex;
  justify-content: space-evenly;
}
.item2{
  margin: 10px;
  padding: 10px;
  width: 10px;
}

/*CSS for burgermenu!*/
input {
    display: none;
  }
  
  .open {
    background-color:  #ecf00c;
    width: 50px;
    height: 3px;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    top: 8px;
  }
  
  .open:before {
    content: "";
    background-color: #ffffff;
    width: 50px;
    height: 3px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: -8px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }
  
  .open:after {
    content: "";
    background-color: #ffffff;
    width: 50px;
    height: 3px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: 4px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }
  
  .menuOpen {
    width: 24px;
    height: 20px;
    display: block;
    padding: 15px;
    cursor: pointer;
    float: right;
  }
  
  .menuOpen:hover .open:before {
    top: -9px;
  }
  
  .menuOpen:hover .open:after {
    top: 5px;
  }
  
  .menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
  }
  
  .menu label {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-size: 100%;
    cursor: pointer;
  }
  
  .menu .menuContent {
    position: relative;
    top: 50%;
    font-size: 54px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: -170px;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }
  
  .menu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    transition: color 0.2s;
    font-family: Trebuchet MS;
    text-transform: uppercase;
    padding: 10px 0;
  }
  
  .menu ul li a:hover {
    color:  #ecf00c;
    cursor: pointer;
  }
  
  .menu ul li:hover {
    cursor: pointer;
  }
  
  .menuEffects {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
  }
  
  .menuEffects ul {
    transform: translateY(0%);
    transition: all 0.5s;
  }
  
  #menuToggle:checked ~ .menuEffects {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
  }
  
  #menuToggle:checked ~ .menuEffects ul {
    opacity: 1;
  }
  
  #menuToggle:checked ~ .menuOpen .open {
    background-color: transparent;
  }
  
  #menuToggle:checked ~ .menuOpen .open:before {
    content: "";
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
  }
  
  #menuToggle:checked ~ .menuOpen .open:after {
    content: "";
    background-color: white;
    transform: rotate(-45deg);
    position: relative;
    top: 0;
    right: 0;
    z-index: 5;
  }
  
  #menuToggle:not(:checked) ~ .menuEffects ul {
    transform: translateY(-30%);
  }
/*Work.html page*/

/*flexbox for links/pictures*/
#container3{
  display: flex;
  justify-content: space-evenly;
}
.item3{
  margin: 3px;
  padding: 3px;
  width: 426.66px;
  height: 426.66px;
  cursor: pointer;
}
.item3 img{
width: 426.66px;
height: 426.66px;
border-radius: 50%;
}
/*img hover overlay*/
.imgcon {
  position: relative;
  width: 50%;
  margin: 0px !important;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  z-index: -1;
}

.overlay {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 426.66px;
  width: 426.66px;
  border-radius: 50%;
  opacity: 0;
  transition: .3s ease-in;
  background-color: rgb(0, 0, 0, 0.8);
}

.imgcon:hover .overlay {
  opacity: 1;
}

.text {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/*footer items*/
.container2 .fa-instagram:before a:hover {
  color: #ffffff;
}
/*to top button*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 1000px;
  z-index: 99;
  transform: translateX(+310%);
}
